<div class="header">
    <h1>TODO LIST</h1>
    <p>Total Todos: {{todos().length}}</p>
    <a [routerLink]="['/new-todo']">Add New Todo</a>
</div>
<div class="list">
    <div>
        <h2>Uncompleted: {{uncompleted().length}}</h2>
        <ul class="todo undone">
            @for (todo of uncompleted(); track todo.id) {
                <app-todo-item [todo]="todo"></app-todo-item>
            }
        </ul>
    </div>
    <div>
        <h2>Completed: {{completed().length}}</h2>
        <ul class="todo done">
            @for (todo of completed(); track todo.id) {
              <app-todo-item [todo]="todo"></app-todo-item>
            }
        </ul>
    </div>
</div>