h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    color: #d14196;
    font-size: 30px;
    font-weight: 400;
}

h2 {
    text-align: center;
    color: #d14196;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
}

p {
    text-align: center;
    color: #269dd4;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.list {
    display: grid;
	grid-template-columns: 1fr 1fr;
	max-height: 100%;
}

.todo {
    flex: 1;
    margin: 0 10px;
}

.done, .undone {
    max-height: 100vh;
	overflow-y: auto;
}

a {
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #269dd4;
    color: white;
    border: none;
    border-radius: 5px;
}

a:hover {
    color: #269dd4;
    background-color: white;
}

a:link { 
    text-decoration: none; 
} 

a:visited { 
    text-decoration: none; 
} 

a:hover { 
    text-decoration: none; 
} 

a:active { 
    text-decoration: none; 
}
