<div>

    <h2>New Todo:</h2>

    <form [formGroup]="applyForm" (submit)="newTodo()">
        <label for="title">New Title: </label>
        <input id="title" type="text" formControlName="title" />
        
        <label for="user">User id: </label>
        <select id="user" formControlName="user">
            @for (user of userList(); track user) {
                <option [value]="user">{{user}}</option>
            }
        </select>
        <button type="submit" class="primary">Add New Todo</button>
    </form>

    <a [routerLink]="['']">back</a>

</div>