<div>
    <h1>{{todo()?.id}}.</h1>
    <h2>{{todo()?.title}}</h2>
    <h3>completed: {{todo()?.completed}}</h3>
    <p>User: {{todo()?.userId}}</p>
    <a [routerLink]="['']">back</a>
</div>
<div>
    <h3 class="section-heading">Want to change the todo name?</h3>
    <form [formGroup]="applyForm" (submit)="updateTodoTitle()">
      <label for="title">New Title: </label>
      <input id="title" type="text" formControlName="title" />
      <button type="submit" class="primary">Update</button>
    </form>

</div>
<form [formGroup]="applyForm" (submit)="removeTodo()">
    <button type="submit" class="secondary">Remove todo</button>
</form>